{
  "openapi": "3.0.0",
  "info": {
    "title": "Explorer API",
    "version": "0.0.1",
    "description": "Key-callable routes of the Bluprynt Compliance Explorer registry API."
  },
  "servers": [
    {
      "url": "https://explorer-api.bluprynt.com"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Disclosure monitoring"
    },
    {
      "name": "Tokenomics"
    }
  ],
  "paths": {
    "/tokenomics/changes": {
      "get": {
        "operationId": "Tokenomics.changes",
        "parameters": [
          {
            "name": "class",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. Comma-separated (unlock_event | emission_change | allocation_change | allocation_move | control_change | value_accrual_change | governance_proposal | venue_notice | supply_change | governance_param_change | legal_classification_change | migration_event | onchain_mismatch).",
            "schema": {}
          },
          {
            "name": "direction",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. Comma-separated (weakens | mixed | strengthens | neutral | undetermined); `undetermined` = no assessed direction.",
            "schema": {}
          },
          {
            "name": "materiality",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. Comma-separated (material | clarification | editorial | review | unclassified).",
            "schema": {}
          },
          {
            "name": "status",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. Comma-separated (upcoming | occurred | proposed | superseded).",
            "schema": {}
          },
          {
            "name": "eventFrom",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. ISO 8601; events with no evidenced time never match.",
            "schema": {}
          },
          {
            "name": "eventTo",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. ISO 8601.",
            "schema": {}
          },
          {
            "name": "detectedFrom",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. ISO 8601.",
            "schema": {}
          },
          {
            "name": "detectedTo",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. ISO 8601.",
            "schema": {}
          },
          {
            "name": "minCirculatingPct",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. Exact decimal; only events with an evidenced circulating-supply percent \u2265 it match.",
            "schema": {}
          },
          {
            "name": "mismatchKind",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. Comma-separated SPEC-059 \u00a74.7 issuer vs on-chain comparison kinds (undisclosed_unlock | amount_mismatch | date_mismatch | recipient_mismatch | disclosed_not_on_chain).",
            "schema": {}
          },
          {
            "name": "since",
            "required": false,
            "in": "query",
            "description": "Opaque `nextCursor` from a previous response (anything else is 400 `invalid_cursor`): returns later revisions in ascending `feedSeq`. Without it the response is a backlog page in priority order: weakens \u2192 mixed \u2192 strengthens \u2192 neutral \u2192 undetermined, then newest `detectedAt`, then id.",
            "schema": {}
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Opaque `nextPage` from a previous backlog response with the same filters (anything else is 400 `invalid_page`): the next backlog page. Cannot be combined with `since`.",
            "schema": {}
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "1\u2013200, default 50.",
            "schema": {}
          },
          {
            "name": "asset",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. One watched registry asset id.",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope wrapping one feed page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenomicsChangesDto"
                }
              }
            }
          },
          "403": {
            "description": "The key does not hold the required scope (`api_key_scope_missing`)."
          },
          "401": {
            "description": "Unknown or revoked key (`api_key_invalid`)."
          }
        },
        "summary": "List tokenomics changes",
        "tags": [
          "Tokenomics"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "description": "Required scope: `tokenomics:read`."
      }
    },
    "/assets/{id}/tokenomics/changes": {
      "get": {
        "operationId": "Tokenomics.assetChanges",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "class",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. Comma-separated (unlock_event | emission_change | allocation_change | allocation_move | control_change | value_accrual_change | governance_proposal | venue_notice | supply_change | governance_param_change | legal_classification_change | migration_event | onchain_mismatch).",
            "schema": {}
          },
          {
            "name": "direction",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. Comma-separated (weakens | mixed | strengthens | neutral | undetermined); `undetermined` = no assessed direction.",
            "schema": {}
          },
          {
            "name": "materiality",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. Comma-separated (material | clarification | editorial | review | unclassified).",
            "schema": {}
          },
          {
            "name": "status",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. Comma-separated (upcoming | occurred | proposed | superseded).",
            "schema": {}
          },
          {
            "name": "eventFrom",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. ISO 8601; events with no evidenced time never match.",
            "schema": {}
          },
          {
            "name": "eventTo",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. ISO 8601.",
            "schema": {}
          },
          {
            "name": "detectedFrom",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. ISO 8601.",
            "schema": {}
          },
          {
            "name": "detectedTo",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. ISO 8601.",
            "schema": {}
          },
          {
            "name": "minCirculatingPct",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. Exact decimal; only events with an evidenced circulating-supply percent \u2265 it match.",
            "schema": {}
          },
          {
            "name": "mismatchKind",
            "required": false,
            "in": "query",
            "description": "Applied before `limit`. Comma-separated SPEC-059 \u00a74.7 issuer vs on-chain comparison kinds (undisclosed_unlock | amount_mismatch | date_mismatch | recipient_mismatch | disclosed_not_on_chain).",
            "schema": {}
          },
          {
            "name": "since",
            "required": false,
            "in": "query",
            "description": "Opaque `nextCursor` from a previous response (anything else is 400 `invalid_cursor`): returns later revisions in ascending `feedSeq`. Without it the response is a backlog page in priority order: weakens \u2192 mixed \u2192 strengthens \u2192 neutral \u2192 undetermined, then newest `detectedAt`, then id.",
            "schema": {}
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Opaque `nextPage` from a previous backlog response with the same filters (anything else is 400 `invalid_page`): the next backlog page. Cannot be combined with `since`.",
            "schema": {}
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "1\u2013200, default 50.",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Envelope wrapping one feed page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenomicsChangesDto"
                }
              }
            }
          },
          "403": {
            "description": "The key does not hold the required scope (`api_key_scope_missing`)."
          },
          "401": {
            "description": "Unknown or revoked key (`api_key_invalid`)."
          }
        },
        "summary": "List an asset's tokenomics changes",
        "tags": [
          "Tokenomics"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "description": "Required scope: `tokenomics:read`."
      }
    },
    "/me/watchlist": {
      "get": {
        "operationId": "Watchlist.list",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchlistDto"
                }
              }
            }
          },
          "403": {
            "description": "The key does not hold the required scope (`api_key_scope_missing`)."
          },
          "401": {
            "description": "Unknown or revoked key (`api_key_invalid`)."
          }
        },
        "summary": "List watchlist",
        "tags": [
          "Disclosure monitoring"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "description": "Required scope: `monitoring:read`."
      },
      "post": {
        "operationId": "Watchlist.add",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddWatchlistItemDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchlistItemDto"
                }
              }
            }
          },
          "403": {
            "description": "The key does not hold the required scope (`api_key_scope_missing`)."
          },
          "409": {
            "description": "`watchlist_limit_reached`"
          },
          "401": {
            "description": "Unknown or revoked key (`api_key_invalid`)."
          }
        },
        "summary": "Watch an asset",
        "tags": [
          "Disclosure monitoring"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "description": "Required scope: `watchlist:write`."
      }
    },
    "/me/watchlist/{id}": {
      "patch": {
        "operationId": "Watchlist.update",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWatchlistItemDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchlistItemDto"
                }
              }
            }
          },
          "403": {
            "description": "The key does not hold the required scope (`api_key_scope_missing`)."
          },
          "401": {
            "description": "Unknown or revoked key (`api_key_invalid`)."
          }
        },
        "summary": "Update a watched asset",
        "tags": [
          "Disclosure monitoring"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "description": "Required scope: `watchlist:write`."
      },
      "delete": {
        "operationId": "Watchlist.remove",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "403": {
            "description": "The key does not hold the required scope (`api_key_scope_missing`)."
          },
          "401": {
            "description": "Unknown or revoked key (`api_key_invalid`)."
          }
        },
        "summary": "Unwatch an asset",
        "tags": [
          "Disclosure monitoring"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "description": "Required scope: `watchlist:write`."
      }
    },
    "/me/monitoring/changes": {
      "get": {
        "operationId": "Monitoring.changes",
        "parameters": [
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "(BLU-4386) `impact` = weakens \u2192 mixed \u2192 strengthens \u2192 neutral \u2192 unassessed, then newest. Default `recent`.",
            "schema": {
              "enum": [
                "recent",
                "impact"
              ],
              "type": "string"
            }
          },
          {
            "name": "impactDimension",
            "required": false,
            "in": "query",
            "description": "(BLU-4386, SPEC-061) Applied before the page cap; ignored unless DISCLOSURE_CHANGE_IMPACT_ENABLED=1 and DISCLOSURE_CHANGE_IMPACT_SHOW_ENABLED=1. Comma-separated (participant_protection | disclosure_quality | regulatory_evidence | market_supply | holder_economics | market_access); changes with any of them.",
            "schema": {}
          },
          {
            "name": "disposition",
            "required": false,
            "in": "query",
            "description": "(BLU-4386, SPEC-061) Applied before the page cap; ignored unless DISCLOSURE_CHANGE_IMPACT_ENABLED=1 and DISCLOSURE_CHANGE_IMPACT_SHOW_ENABLED=1. Comma-separated (shown | discovery | disagreement | review | audit).",
            "schema": {}
          },
          {
            "name": "assessmentStatus",
            "required": false,
            "in": "query",
            "description": "(BLU-4386, SPEC-061) Applied before the page cap; ignored unless DISCLOSURE_CHANGE_IMPACT_ENABLED=1 and DISCLOSURE_CHANGE_IMPACT_SHOW_ENABLED=1. Comma-separated (assessed | undetermined | pending); `undetermined` includes never-assessed changes of every category.",
            "schema": {}
          },
          {
            "name": "direction",
            "required": false,
            "in": "query",
            "description": "(BLU-4386, SPEC-061) Applied before the page cap; ignored unless DISCLOSURE_CHANGE_IMPACT_ENABLED=1 and DISCLOSURE_CHANGE_IMPACT_SHOW_ENABLED=1. Comma-separated (weakens | mixed | strengthens | neutral); only assessed disclosure-field changes match.",
            "schema": {}
          },
          {
            "name": "showAll",
            "required": false,
            "in": "query",
            "description": "(BLU-4177) Also list low-signal document revisions \u2014 held versions that could not be compared even after recovery. Off by default.",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "newOnly",
            "required": false,
            "in": "query",
            "description": "Only confirmed changes detected after the last seen mark.",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "materiality",
            "required": false,
            "in": "query",
            "description": "Only disclosure-field changes with this materiality.",
            "schema": {
              "enum": [
                "material",
                "clarification",
                "editorial"
              ],
              "type": "string"
            }
          },
          {
            "name": "item",
            "required": false,
            "in": "query",
            "description": "Comma-separated watchlist item ids (at most 25); every watched asset when omitted.",
            "schema": {}
          },
          {
            "name": "category",
            "required": false,
            "in": "query",
            "description": "Comma-separated categories (disclosure_field | source_drift | register | sanctions | party_edge | collateral_isin); all when omitted.",
            "schema": {}
          },
          {
            "name": "days",
            "required": false,
            "in": "query",
            "description": "Window in days (1\u2013365, default 90).",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitoringChangesDto"
                }
              }
            }
          },
          "400": {
            "description": "Unknown category, materiality, impact filter or sort, bad item ids, or non-boolean newOnly / showAll."
          },
          "403": {
            "description": "The key does not hold the required scope (`api_key_scope_missing`)."
          },
          "401": {
            "description": "Unknown or revoked key (`api_key_invalid`)."
          }
        },
        "summary": "List disclosure changes",
        "tags": [
          "Disclosure monitoring"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "description": "Required scope: `monitoring:read`."
      }
    },
    "/me/notifications": {
      "get": {
        "operationId": "Notifications.list",
        "parameters": [
          {
            "name": "unread",
            "required": false,
            "in": "query",
            "description": "`true` for unread only.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitoringNotificationListDto"
                }
              }
            }
          },
          "403": {
            "description": "The key does not hold the required scope (`api_key_scope_missing`)."
          },
          "401": {
            "description": "Unknown or revoked key (`api_key_invalid`)."
          }
        },
        "summary": "List notifications",
        "tags": [
          "Disclosure monitoring"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "description": "Required scope: `monitoring:read`."
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateWatchlistItemDto": {
        "type": "object",
        "properties": {
          "monitoringEnabled": {
            "type": "boolean",
            "description": "Monitoring on (default) or paused for this asset."
          },
          "note": {
            "type": "string",
            "nullable": true,
            "maxLength": 500,
            "description": "Private note; null clears it."
          }
        }
      },
      "MonitoringNotificationListDto": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MonitoringNotificationDto"
            }
          },
          "unread": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "unread"
        ]
      },
      "MonitoringChangesDto": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MonitoringChangeDto"
            }
          },
          "since": {
            "type": "string",
            "format": "date-time",
            "description": "Window start."
          },
          "seenAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "truncated": {
            "type": "boolean",
            "description": "True when more changes matching the filters exist in the window than were returned."
          }
        },
        "required": [
          "items",
          "since",
          "seenAt",
          "truncated"
        ]
      },
      "AddWatchlistItemDto": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "Registry asset id (`assets.id`).",
            "format": "uuid"
          }
        },
        "required": [
          "assetId"
        ]
      },
      "TokenomicsChangesDto": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenomicsChangeDto"
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "More rows match the filters than were returned. With `since`: poll again with `nextCursor`. Without `since`: fetch the rest of the backlog with `page=nextPage`."
          },
          "nextCursor": {
            "type": "string",
            "description": "Opaque incremental resume token, passed back as `since`. With `since`, it points after the last returned row (or repeats the `since` sent when none). Without `since` (backlog pages), it is the head the first backlog page froze, the same on every page: after the backlog, polling from it returns every later revision, including rows revised while the backlog was paged."
          },
          "nextPage": {
            "type": "string",
            "nullable": true,
            "description": "Opaque backlog token (priority order only), passed back as `page` with the same filters; null when the backlog is complete or with `since`."
          },
          "order": {
            "type": "string",
            "enum": [
              "since",
              "priority"
            ]
          }
        },
        "required": [
          "items",
          "hasMore",
          "nextCursor",
          "nextPage",
          "order"
        ]
      },
      "TokenomicsChangeDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "revision": {
            "type": "number",
            "description": "Feed revision of this event (1 on first write; +1 each later change)."
          },
          "feedSeq": {
            "type": "string",
            "description": "Monotonic feed sequence of this revision (exact integer string), for ordering and audit. Resume with `nextCursor`, not this value."
          },
          "category": {
            "type": "string",
            "enum": [
              "tokenomics"
            ]
          },
          "itemKey": {
            "type": "string",
            "nullable": true,
            "description": "Stable item id across ledger revisions (T-30 \u2192 T-7 \u2192 T-1 \u2192 occurred share one)."
          },
          "itemRevision": {
            "type": "number",
            "nullable": true,
            "description": "Ledger revision of the underlying reading."
          },
          "asset": {
            "$ref": "#/components/schemas/TokenomicsAssetRefDto"
          },
          "class": {
            "type": "string",
            "description": "SPEC-059 \u00a74.5 change class."
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "upcoming",
              "occurred",
              "proposed",
              "superseded"
            ],
            "description": "A scheduled unlock stays `upcoming`; only a finalized on-chain release is `occurred`."
          },
          "eventAt": {
            "type": "string",
            "nullable": true,
            "description": "When the event happens/happened (evidenced; null if not stated)."
          },
          "detectedAt": {
            "type": "string"
          },
          "fieldName": {
            "type": "string"
          },
          "changeKind": {
            "type": "string"
          },
          "materiality": {
            "type": "string"
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "oldValue": {
            "type": "string",
            "nullable": true
          },
          "newValue": {
            "type": "string",
            "nullable": true
          },
          "impact": {
            "$ref": "#/components/schemas/TokenomicsImpactDto"
          },
          "unlock": {
            "nullable": true,
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/TokenomicsUnlockDto"
              }
            ]
          },
          "oldEvidence": {
            "nullable": true,
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/TokenomicsEvidenceSideDto"
              }
            ]
          },
          "newEvidence": {
            "$ref": "#/components/schemas/TokenomicsEvidenceSideDto"
          },
          "primaryEvidence": {
            "nullable": true,
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/TokenomicsPrimaryEvidenceDto"
              }
            ]
          },
          "onChainEvidence": {
            "description": "Every chain read behind the reading.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenomicsChainEvidenceDto"
            }
          },
          "observationEvidenceSha256": {
            "type": "string",
            "nullable": true,
            "description": "sha256 of the ledger reading\u2019s evidence bundle."
          },
          "observationRecordedAt": {
            "type": "string",
            "nullable": true,
            "description": "When the ledger recorded the reading."
          },
          "onchainMismatch": {
            "nullable": true,
            "description": "Issuer vs on-chain comparison (SPEC-059 \u00a74.7); null when none is stored or the stored payload is incomplete. Never derived from `impact`.",
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/TokenomicsOnchainMismatchDto"
              }
            ]
          }
        },
        "required": [
          "id",
          "revision",
          "feedSeq",
          "category",
          "itemKey",
          "itemRevision",
          "asset",
          "class",
          "status",
          "eventAt",
          "detectedAt",
          "fieldName",
          "changeKind",
          "materiality",
          "summary",
          "oldValue",
          "newValue",
          "impact",
          "unlock",
          "oldEvidence",
          "newEvidence",
          "primaryEvidence",
          "onChainEvidence",
          "observationEvidenceSha256",
          "observationRecordedAt",
          "onchainMismatch"
        ]
      },
      "TokenomicsPrimaryEvidenceDto": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "issuer_document",
              "on_chain",
              "governance",
              "venue_notice"
            ]
          },
          "observedAt": {
            "type": "string",
            "nullable": true,
            "description": "Exact time the primary evidence was observed: held-document fetch time (\u00b5s), source retrieval time, or chain read time \u2014 as recorded, never rounded or estimated."
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Project-held source URL (document, proposal, notice)."
          },
          "artifactId": {
            "type": "string",
            "nullable": true,
            "description": "Id of the immutable held artifact the quote was read from (for issuer documents, the held-document key, which is its source URL)."
          },
          "sha256": {
            "type": "string",
            "nullable": true,
            "description": "sha256 of the held artifact or normalised text."
          },
          "quote": {
            "type": "string",
            "nullable": true,
            "description": "Verbatim span from the held source, byte-for-byte as stored (always set for `issuer_document`; null for `on_chain`)."
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "description": "Source-stated publication / creation time (governance `createdAt`, venue `publishedAt`)."
          },
          "chain": {
            "nullable": true,
            "description": "Set for `on_chain`.",
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/TokenomicsChainEvidenceDto"
              }
            ]
          }
        },
        "required": [
          "kind",
          "observedAt",
          "sourceUrl",
          "artifactId",
          "sha256",
          "quote",
          "publishedAt",
          "chain"
        ]
      },
      "TokenomicsOnchainMismatchDto": {
        "type": "object",
        "properties": {
          "kinds": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "undisclosed_unlock",
                "amount_mismatch",
                "date_mismatch",
                "recipient_mismatch",
                "disclosed_not_on_chain"
              ]
            }
          },
          "comparisonStatus": {
            "type": "string",
            "enum": [
              "comparable",
              "undetermined"
            ],
            "description": "`undetermined` when either side is missing, stale or incomplete; no kind is then asserted as fact."
          },
          "reason": {
            "type": "string"
          },
          "issuer": {
            "$ref": "#/components/schemas/TokenomicsMismatchIssuerDto"
          },
          "onChain": {
            "nullable": true,
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/TokenomicsMismatchOnChainDto"
              }
            ]
          },
          "tolerances": {
            "$ref": "#/components/schemas/TokenomicsMismatchTolerancesDto"
          },
          "comparedAt": {
            "type": "string",
            "description": "ISO 8601."
          },
          "issuerEvidence": {
            "description": "The typed issuer records `issuer.evidenceIds` resolve to, in citation order.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenomicsIssuerEvidenceDto"
            }
          }
        },
        "required": [
          "kinds",
          "comparisonStatus",
          "reason",
          "issuer",
          "onChain",
          "tolerances",
          "comparedAt",
          "issuerEvidence"
        ]
      },
      "TokenomicsMismatchIssuerDto": {
        "type": "object",
        "properties": {
          "evidenceIds": {
            "description": "Held issuer-document evidence ids compared.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "amount": {
            "type": "string",
            "nullable": true,
            "description": "Exact decimal string as disclosed."
          },
          "eventAt": {
            "type": "string",
            "nullable": true,
            "description": "Disclosed event time (ISO 8601)."
          },
          "recipientClass": {
            "type": "string",
            "nullable": true
          },
          "asOf": {
            "type": "string",
            "nullable": true,
            "description": "As-of time of the disclosure (ISO 8601)."
          },
          "sourcesChecked": {
            "type": "number",
            "description": "Held token-owned sources read for the comparison."
          }
        },
        "required": [
          "evidenceIds",
          "amount",
          "eventAt",
          "recipientClass",
          "asOf",
          "sourcesChecked"
        ]
      },
      "TokenomicsEvidenceSideDto": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "nullable": true
          },
          "quote": {
            "type": "string",
            "nullable": true
          },
          "artifactId": {
            "type": "string",
            "nullable": true
          },
          "sha256": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "value",
          "quote",
          "artifactId",
          "sha256"
        ]
      },
      "TokenomicsMismatchOnChainDto": {
        "type": "object",
        "properties": {
          "evidenceIds": {
            "description": "Finalized chain-read evidence ids compared.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scanFromBlock": {
            "type": "string",
            "description": "Exact integer string."
          },
          "scanToBlock": {
            "type": "string",
            "description": "Exact integer string."
          },
          "finalizedBlock": {
            "type": "string",
            "description": "Exact integer string."
          },
          "complete": {
            "type": "boolean",
            "description": "The whole window was scanned; an incomplete scan never proves absence."
          }
        },
        "required": [
          "evidenceIds",
          "scanFromBlock",
          "scanToBlock",
          "finalizedBlock",
          "complete"
        ]
      },
      "MonitoringChangeDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable id (`<category>:<row id>`)."
          },
          "category": {
            "type": "string",
            "enum": [
              "disclosure_field",
              "source_drift",
              "register",
              "sanctions",
              "party_edge",
              "collateral_isin"
            ]
          },
          "watchlistItemId": {
            "type": "string",
            "format": "uuid"
          },
          "asset": {
            "$ref": "#/components/schemas/WatchedAssetDto"
          },
          "detectedAt": {
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string"
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "materiality": {
            "type": "string",
            "nullable": true,
            "description": "Disclosure-change materiality (`material` | `clarification` | `editorial` | `review`)."
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "The source document the change was observed in."
          },
          "href": {
            "type": "string",
            "nullable": true,
            "description": "App-relative link to the evidence."
          },
          "isNew": {
            "type": "boolean",
            "description": "Confirmed and detected after the owner last marked the feed as seen. Drafts are never new."
          },
          "fieldGroup": {
            "type": "string",
            "nullable": true,
            "description": "Disclosure family / topic of the field, when a field change."
          },
          "changeKind": {
            "type": "string",
            "nullable": true,
            "description": "Disclosure change kind (`changed` | `added` | `removed` | `source_disagreement`); null for other categories."
          },
          "before": {
            "type": "string",
            "nullable": true,
            "description": "Value before the change, when the monitor holds one."
          },
          "after": {
            "type": "string",
            "nullable": true,
            "description": "Value after the change, when the monitor holds one."
          },
          "quote": {
            "type": "string",
            "nullable": true,
            "description": "Verbatim sentence from the new version."
          },
          "priorQuote": {
            "type": "string",
            "nullable": true,
            "description": "Verbatim sentence from the prior version."
          },
          "sourceHash": {
            "type": "string",
            "nullable": true,
            "description": "SHA-256 of the observation / document the change was read from."
          },
          "priorSourceUrl": {
            "type": "string",
            "nullable": true,
            "description": "Prior source document when it differs from `sourceUrl`."
          },
          "confirmed": {
            "type": "boolean",
            "description": "Confirmed: both versions are held and the change is classified. Unconfirmed entries are drafts/candidates \u2014 shown dashed, never notified as confirmed."
          },
          "lowSignal": {
            "type": "boolean",
            "description": "(BLU-4177) A document revision whose held versions could not be compared, even after recovery: not a notable change \u2014 never new, never notified, and only listed when `showAll=true`."
          },
          "impact": {
            "type": "string",
            "description": "(BLU-4156) One factual line on what this change bears on, derived from the field\u2019s meaning and the classification \u2014 never a score."
          },
          "explanation": {
            "description": "(BLU-4170) WHAT changed and WHY it matters \u2014 the same explanation the change detail shows, so list rows and the detail agree.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ChangeExplanationDto"
              }
            ]
          },
          "direction": {
            "type": "string",
            "enum": [
              "weakens",
              "mixed",
              "strengthens",
              "neutral"
            ],
            "nullable": true,
            "description": "(BLU-4386, SPEC-061) Evidenced direction \u2014 the same assessment the asset Changes tab shows; null = not assessed (undetermined), never neutral. Present only when DISCLOSURE_CHANGE_IMPACT_ENABLED=1."
          },
          "disposition": {
            "type": "string",
            "enum": [
              "shown",
              "discovery",
              "disagreement",
              "review",
              "audit"
            ],
            "nullable": true,
            "description": "(BLU-4386) Lane of the change."
          },
          "impactAssessment": {
            "description": "(BLU-4386) Current impact assessment. Non-field categories (register, sanctions, \u2026) are never assessed and project as undetermined.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ImpactAssessmentDto"
              }
            ]
          }
        },
        "required": [
          "id",
          "category",
          "watchlistItemId",
          "asset",
          "detectedAt",
          "title",
          "detail",
          "materiality",
          "sourceUrl",
          "href",
          "isNew",
          "fieldGroup",
          "changeKind",
          "before",
          "after",
          "quote",
          "priorQuote",
          "sourceHash",
          "priorSourceUrl",
          "confirmed",
          "lowSignal",
          "impact",
          "explanation"
        ]
      },
      "ImpactAssessmentDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "History row id; null when never assessed."
          },
          "direction": {
            "type": "string",
            "enum": [
              "weakens",
              "mixed",
              "strengthens",
              "neutral"
            ],
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "assessed",
              "undetermined",
              "pending"
            ]
          },
          "disposition": {
            "type": "string",
            "enum": [
              "shown",
              "discovery",
              "disagreement",
              "review",
              "audit"
            ],
            "nullable": true
          },
          "dimensions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImpactDimensionDto"
            }
          },
          "reason": {
            "type": "string",
            "nullable": true,
            "description": "Machine reason code from the rules version."
          },
          "whatThisMeansForHolders": {
            "type": "string",
            "nullable": true,
            "description": "Plain-language consequence for holders."
          },
          "method": {
            "type": "string",
            "enum": [
              "deterministic",
              "model",
              "fallback"
            ],
            "nullable": true
          },
          "confidence": {
            "type": "number",
            "nullable": true
          },
          "isFallback": {
            "type": "boolean"
          },
          "retryRequired": {
            "type": "boolean"
          },
          "rulesVersion": {
            "type": "string",
            "nullable": true,
            "example": "impact-v1"
          },
          "evidence": {
            "nullable": true,
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/ImpactEvidenceDto"
              }
            ]
          },
          "inputFingerprint": {
            "type": "string",
            "nullable": true
          },
          "groupId": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Logical group this change belongs to."
          },
          "childEventIds": {
            "description": "Child event ids of a logical group (never cascade-deleted).",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assessedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "direction",
          "status",
          "disposition",
          "dimensions",
          "reason",
          "whatThisMeansForHolders",
          "method",
          "confidence",
          "isFallback",
          "retryRequired",
          "rulesVersion",
          "evidence",
          "inputFingerprint",
          "groupId",
          "childEventIds",
          "assessedAt"
        ]
      },
      "ImpactEvidenceDto": {
        "type": "object",
        "properties": {
          "old": {
            "$ref": "#/components/schemas/ImpactEvidenceSideDto"
          },
          "new": {
            "$ref": "#/components/schemas/ImpactEvidenceSideDto"
          }
        },
        "required": [
          "old",
          "new"
        ]
      },
      "ImpactEvidenceSideDto": {
        "type": "object",
        "properties": {
          "quote": {
            "type": "string",
            "nullable": true,
            "description": "Verbatim quote from the held source version; null when unresolved (e.g. first observation)."
          },
          "artifactId": {
            "type": "string",
            "nullable": true,
            "description": "Source URL (artifact id) of the held version; null when unresolved."
          },
          "observationSha256": {
            "type": "string",
            "nullable": true,
            "description": "SHA-256 of the held observation, when recorded."
          }
        },
        "required": [
          "quote",
          "artifactId"
        ]
      },
      "WatchedAssetDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "symbol": {
            "type": "string",
            "nullable": true
          },
          "issuerName": {
            "type": "string",
            "nullable": true
          },
          "chain": {
            "type": "string",
            "nullable": true,
            "description": "CAIP-2 network id."
          },
          "chainId": {
            "type": "number"
          },
          "contractAddress": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "symbol",
          "issuerName",
          "chain",
          "chainId",
          "contractAddress"
        ]
      },
      "WatchlistItemDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "asset": {
            "$ref": "#/components/schemas/WatchedAssetDto"
          },
          "state": {
            "type": "string",
            "enum": [
              "ready",
              "gathering",
              "unresolved"
            ],
            "description": "`gathering` \u2014 intake running (\"gathering information\"); `unresolved` \u2014 intake could not add it."
          },
          "stateReason": {
            "type": "string",
            "nullable": true,
            "description": "The intake worker reason when `unresolved`."
          },
          "intakeStatus": {
            "type": "string",
            "nullable": true,
            "description": "The `asset_intake` status while gathering."
          },
          "monitoringEnabled": {
            "type": "boolean"
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "addedAt": {
            "type": "string",
            "format": "date-time",
            "description": "\"Watched since\" \u2014 kept across remove/re-add."
          }
        },
        "required": [
          "id",
          "asset",
          "state",
          "stateReason",
          "intakeStatus",
          "monitoringEnabled",
          "note",
          "addedAt"
        ]
      },
      "TokenomicsIssuerEvidenceDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "P3 evidence id: sha256 of `[url, sha256, charOffset, quote]` (span) or `[url, sha256]` (source revision)."
          },
          "kind": {
            "type": "string",
            "enum": [
              "issuer_span",
              "issuer_source"
            ],
            "description": "`issuer_span`: a held verbatim span; `issuer_source`: a checked held source revision."
          },
          "url": {
            "type": "string",
            "description": "Fetched project-document URL."
          },
          "sha256": {
            "type": "string",
            "description": "sha256 of the held document text."
          },
          "sourceEvidenceId": {
            "type": "string",
            "description": "Id of the held source revision the record belongs to."
          },
          "observedAt": {
            "type": "string",
            "description": "When the source revision was observed (ISO 8601)."
          },
          "charOffset": {
            "type": "number",
            "nullable": true,
            "description": "Offset of the span in the held text (span only)."
          },
          "quote": {
            "type": "string",
            "nullable": true,
            "description": "Verbatim span (span only)."
          }
        },
        "required": [
          "id",
          "kind",
          "url",
          "sha256",
          "sourceEvidenceId",
          "observedAt",
          "charOffset",
          "quote"
        ]
      },
      "MonitoringNotificationDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "kind": {
            "type": "string",
            "enum": [
              "intake_ready",
              "intake_partial",
              "intake_unresolved",
              "disclosure_change",
              "register_change",
              "party_edge_change",
              "obligation_verdict_change",
              "obligation_not_evidenced",
              "obligation_regime_added",
              "tokenomics_change",
              "tokenomics_disagreement"
            ]
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "href": {
            "type": "string",
            "nullable": true
          },
          "assetName": {
            "type": "string",
            "nullable": true,
            "description": "The watched asset name, when known."
          },
          "headline": {
            "type": "string",
            "nullable": true,
            "description": "(BLU-4170) WHAT changed, in the same words as the change detail; null when the notice is not a change or its change is no longer held."
          },
          "impact": {
            "type": "string",
            "nullable": true,
            "description": "(BLU-4170) The one-line WHY of the change (its card line); null alongside `headline`."
          },
          "changeHref": {
            "type": "string",
            "nullable": true,
            "description": "(BLU-4170) The change detail this notice is about, when it resolves to one."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "readAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "kind",
          "title",
          "body",
          "href",
          "assetName",
          "headline",
          "impact",
          "changeHref",
          "createdAt",
          "readAt"
        ]
      },
      "ChangeExplanationDto": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "value_changed",
              "newly_stated",
              "no_longer_stated",
              "sources_disagree",
              "document_changed",
              "register_status",
              "named_party",
              "sanctions_match",
              "collateral_link"
            ]
          },
          "headline": {
            "type": "string",
            "description": "One sentence: what changed."
          },
          "what": {
            "type": "string",
            "description": "(BLU-4177) Short form of the headline \u2014 a few words naming what changed."
          },
          "whatDetail": {
            "type": "string",
            "nullable": true,
            "description": "(BLU-4177) One line of detail under `what`; null when the short form says it all."
          },
          "field": {
            "nullable": true,
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/ChangeFieldMeaningDto"
              }
            ]
          },
          "previous": {
            "$ref": "#/components/schemas/ChangeSideDto"
          },
          "current": {
            "$ref": "#/components/schemas/ChangeSideDto"
          },
          "whyItMatters": {
            "type": "string",
            "description": "Grounded rationale: the field\u2019s stake plus how the change was classified."
          },
          "impact": {
            "type": "string",
            "description": "Short card line."
          }
        },
        "required": [
          "kind",
          "headline",
          "what",
          "whatDetail",
          "field",
          "previous",
          "current",
          "whyItMatters",
          "impact"
        ]
      },
      "ChangeSideDto": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Reader label (\u201cPrevious value\u201d, \u201cSource relied on \u00b7 tether.to\u201d, \u201cCurrent version\u201d)."
          },
          "value": {
            "type": "string",
            "nullable": true,
            "description": "What this side states; null when it does not exist or is not held."
          },
          "note": {
            "type": "string",
            "nullable": true,
            "description": "Plain reason when `value` is null (e.g. no earlier value recorded), or a qualifier; null otherwise."
          }
        },
        "required": [
          "label",
          "value",
          "note"
        ]
      },
      "TokenomicsImpactDto": {
        "type": "object",
        "properties": {
          "direction": {
            "type": "string",
            "nullable": true,
            "enum": [
              "weakens",
              "mixed",
              "strengthens",
              "neutral"
            ],
            "description": "Evidenced effect on holders (BLU-4355 shared contract) \u2014 never a price forecast; null = undetermined."
          },
          "status": {
            "type": "string",
            "enum": [
              "assessed",
              "undetermined",
              "pending"
            ]
          },
          "disposition": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "rulesVersion": {
            "type": "string",
            "nullable": true
          },
          "assessedAt": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "direction",
          "status",
          "disposition",
          "reason",
          "rulesVersion",
          "assessedAt"
        ]
      },
      "ImpactDimensionDto": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "participant_protection",
              "disclosure_quality",
              "regulatory_evidence",
              "market_supply",
              "holder_economics",
              "market_access"
            ]
          },
          "direction": {
            "type": "string",
            "enum": [
              "weakens",
              "mixed",
              "strengthens",
              "neutral"
            ]
          }
        },
        "required": [
          "kind",
          "direction"
        ]
      },
      "TokenomicsMismatchTolerancesDto": {
        "type": "object",
        "properties": {
          "relativeAmountPct": {
            "type": "number"
          },
          "dateHours": {
            "type": "number"
          }
        },
        "required": [
          "relativeAmountPct",
          "dateHours"
        ]
      },
      "TokenomicsChainEvidenceDto": {
        "type": "object",
        "properties": {
          "chainId": {
            "type": "number"
          },
          "address": {
            "type": "string",
            "description": "Contract or account that was read."
          },
          "method": {
            "type": "string",
            "description": "Read method or event (e.g. `eth_call:totalSupply()`, `log:Transfer`)."
          },
          "callData": {
            "type": "string",
            "nullable": true
          },
          "block": {
            "type": "string",
            "description": "Finalized block number, exact decimal string."
          },
          "blockHash": {
            "type": "string",
            "nullable": true
          },
          "blockTimestamp": {
            "type": "string",
            "nullable": true,
            "description": "Block timestamp exactly as read from the chain (unix seconds or ISO, as recorded)."
          },
          "txHash": {
            "type": "string",
            "nullable": true
          },
          "logIndex": {
            "type": "string",
            "nullable": true
          },
          "backend": {
            "type": "string",
            "description": "RPC/indexer backend that served the read."
          },
          "readAt": {
            "type": "string",
            "description": "When the read was made, exactly as recorded."
          },
          "exchangeSha256": {
            "type": "string",
            "description": "sha256 of the recorded request/response exchange."
          }
        },
        "required": [
          "chainId",
          "address",
          "method",
          "callData",
          "block",
          "blockHash",
          "blockTimestamp",
          "txHash",
          "logIndex",
          "backend",
          "readAt",
          "exchangeSha256"
        ]
      },
      "WatchlistDto": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WatchlistItemDto"
            }
          },
          "limit": {
            "type": "number",
            "description": "Most assets this owner may watch."
          },
          "used": {
            "type": "number",
            "description": "Assets currently watched (counts against `limit`)."
          }
        },
        "required": [
          "items",
          "limit",
          "used"
        ]
      },
      "ChangeFieldMeaningDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Field name (`disclosure_field.field_name`)."
          },
          "label": {
            "type": "string"
          },
          "meaning": {
            "type": "string",
            "description": "What the field records, in one plain sentence."
          },
          "stake": {
            "type": "string",
            "description": "What depends on the field being right, in one plain sentence."
          }
        },
        "required": [
          "name",
          "label",
          "meaning",
          "stake"
        ]
      },
      "TokenomicsUnlockDto": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "description": "Whole tokens, exact decimal string."
          },
          "amountRaw": {
            "type": "string",
            "description": "Raw base units, exact integer string."
          },
          "decimals": {
            "type": "number"
          },
          "pctCirculating": {
            "type": "string",
            "nullable": true,
            "description": "Exact decimal percent of circulating supply."
          },
          "circulatingReadAt": {
            "type": "string",
            "nullable": true
          },
          "pctTotalSupply": {
            "type": "string",
            "nullable": true,
            "description": "Exact decimal percent of total supply."
          },
          "recipientClass": {
            "type": "string",
            "nullable": true
          },
          "recipientAddress": {
            "type": "string",
            "nullable": true
          },
          "scheduleMatch": {
            "type": "string",
            "nullable": true,
            "enum": [
              "as_scheduled",
              "deviates",
              "unscheduled"
            ]
          },
          "txHash": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "amount",
          "amountRaw",
          "decimals",
          "pctCirculating",
          "circulatingReadAt",
          "pctTotalSupply",
          "recipientClass",
          "recipientAddress",
          "scheduleMatch",
          "txHash"
        ]
      },
      "TokenomicsAssetRefDto": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "nullable": true,
            "description": "Registry asset id (null when not yet in the registry)."
          },
          "chainId": {
            "type": "number"
          },
          "contractAddress": {
            "type": "string"
          }
        },
        "required": [
          "assetId",
          "chainId",
          "contractAddress"
        ]
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "bx_live_\u2026",
        "description": "Exchange API key issued by Bluprynt, sent as `Authorization: Bearer bx_live_<key>`."
      }
    }
  }
}